﻿@{
    ViewBag.Title = "Payment";
}
@section styles{
    <style>
        .statistics-box.with-icon {
    padding-top: 14px;
    min-height: 80px;
    text-align: center;
    padding-left: 0;
}
        .statistics-box.with-icon a small{
            color: #212121;
}
        .col-md-4 {
            margin-bottom: 20px;
        }
    </style>
}
<section class="row small-spacing">
    <h2 class="box-title">PAYMENT TYPE :
    @if (ViewBag.PaymentType == "makePaymentCustomerNumberModal")
    {
        <span>CUSTOMER NUMBER</span>
    }else if (ViewBag.PaymentType == "makePaymentSmartCardNumberModal")
    {
        <span>SMART CARD NUMBER</span>
    }
    </h2>
    <p>Kindly choose your payment provider</p>
    <hr />
    <section class="row">
        @if (ViewBag.PayEl == "can")
        {
            <article class="col-md-6">
                <div class="box-content">
                    <div class="statistics-box with-icon">
                        <a href="@Url.Action("MakePayment", new {type = "DSTV", payel = ViewBag.PayEl})" data-bouquet="DSTV">
                            <h2 class="counter text-inverse">
                                <img src="~/assets/images/logo/DSTV.png" />
                            </h2>
                            <small>Make payment for DSTV</small>
                        </a>
                    </div>
                </div>
            </article>

            <article class="col-md-6">
                <div class="box-content">
                    <div class="statistics-box with-icon">
                        <a href="@Url.Action("MakePayment", new {type = "GOTV", payel = ViewBag.PayEl})" data-bouquet="GOTV">
                            <h2 class="counter text-inverse">
                                <img src="~/assets/images/logo/GOTV.png" />
                            </h2>
                            <small>Make payment for GOTV</small>
                        </a>
                    </div>
                </div>
            </article>

        }
        else
        {
            <article class="col-md-6">
                <div class="box-content">
                    <div class="statistics-box with-icon">
                        <a class="multiChoiceSelector" href="javascript:void();" data-toggle="modal" data-target="#multiSelectionModal" data-payel="@ViewBag.PayEl">
                            <h2 class="counter text-inverse">
                                <img src="~/assets/images/logo/MCN.png" />
                            </h2>
                            <small>Make payment for Multichoice</small>
                        </a>
                    </div>
                </div>
            </article>
        }
        

       
    </section>
</section>
