﻿@using MultichoiceCollection.Presentation.Models
@model MultichoiceCollection.Presentation.Models.PreviewMakePaymentRenewal
@{
     ViewBag.Title = "MAKE PAYMENT";
}

<section class="container-fluid">
     <article class="row small-spacing">
          <div class="box-content">
               <h4 class="box-title text-center">MAKE PAYMENT FOR RENEWAL</h4>
               <section>
                    <form action="@Url.Action("PreviewMakePaymentRenewal", "Payment")" method="POST">
                         <!-- Modal content-->
                         <div class="modal-content">
                              <div class="modal-header">
                                   <h4 class="modal-title">MAKE PAYMENT WITH SMART CARD | @Model.Type</h4>
                              </div>
                              <div class="modal-body">
                                   <section class="row">
                                        <input type="hidden" name="type" value="@Model.Type" />
                                        <div class="form-group col-md-6">
                                             <label class="control-label">Bouquet</label>
                                             <input class="form-control" value="@Model.ProductKey" disabled />
                                             <input name="ProductKey" value="@Model.ProductKey" hidden />
                                        </div>
                                        <div class="form-group col-md-6">
                                             <label class="control-label">Smart Card Number</label>
                                             <input class="form-control" placeholder="Smart Card Number" required="" value="@Model.Smartcardnumber" disabled />
                                             <input name="Smartcardnumber" value="@Model.Smartcardnumber" hidden />
                                        </div>
                                        <div class="form-group col-md-6">
                                             <label class="control-label">Amount</label>
                                             <input class="form-control" value="@Model.Amount" placeholder="Amount" required="" disabled />
                                             <input name="Amount" value="@Model.Amount" hidden />
                                        </div>
                                        <div class="form-group col-md-6">
                                             <label class="control-label">Invoice Period</label>
                                             <input class="form-control" value="@Model.InvoicePeriod" disabled />
                                             <input name="InvoicePeriod" value="@Model.InvoicePeriod" hidden />
                                        </div>
                                        <div class="form-group col-md-6">
                                             <label class="control-label">Email Address</label>
                                             <input class="form-control" type="email" name="EmailAddress" value="@Model.EmailAddress" placeholder="Email Address" required="" />
                                        </div>
                                        <div class="form-group col-md-6">
                                             <label class="control-label">Mobile Number</label>
                                             <input class="form-control" type="number" name="MobileNumber" value="@Model.MobileNumber"
                                                    placeholder="Mobile Number" required="" />
                                        </div>
                                        <div class="form-group col-md-6">
                                             <label class="control-label">Payment Description</label>
                                             <input class="form-control" name="paymentDescription"
                                                    placeholder="Payment Description" value="DSTV Payment" required="" />
                                        </div>
                                        <div class="form-group col-md-6">
                                             <label class="control-label">Payment Mode</label>
                                             <select name="paymentMode" class="form-control">
                                                  <option value="cash">Cash</option>
                                                  <option value="pos">POS</option>
                                             </select>
                                        </div>
                                   </section>
                              </div>
                              <div class="modal-footer">
                                   <button type="submit" class="btn btn-primary">Preview</button>
                              </div>
                         </div>
                    </form>

               </section>


          </div>
     </article>

</section>
