﻿@using MultichoiceCollection.Presentation.Models
@model MultichoiceCollection.Presentation.Models.MakePaymentViewModel
@{
    ViewBag.Title = "MAKE PAYMENT";
    var obj = Model.Model != null ? (PreviewMakePaymentSmartCardNumberModel) Model.Model : new PreviewMakePaymentSmartCardNumberModel(); 
}

<section class="container-fluid">
    <article class="row small-spacing">
        <div class="box-content">
            <h4 class="box-title">MAKE PAYMENT</h4>
            <section>
                <form action="@Url.Action("PreviewMakePaymentSmartCardNumber", "Payment")" method="POST">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">MAKE PAYMENT WITH SMART CARD | @Model.Type</h4>
                        </div>
                        <div class="modal-body">
                            <section class="row">
                                <input type="hidden" name="type" value="@Model.Type" />
                                <div class="form-group col-md-6">
                                    <label class="control-label">Bouquet</label>
                                    <select class="form-control" name="productKey" required="">
                                        <option></option>
                                        @foreach (var b in Model.Bouquets)
                                        {
                                            <option @(obj.ProductKey==b.code?"selected":"") value="@b.code">@b.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                     <label class="control-label">Smart Card Number</label>
                                     <input class="form-control"  placeholder="Smart Card Number" required="" value="@Model.CardNumber" disabled />
                                     <input name="smartcardnumber" value="@Model.CardNumber" hidden />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Amount</label>
                                    <input class="form-control" type="number" name="amount" value="@obj.Amount" placeholder="Amount" required=""/>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Invoice Period</label>
                                    <select class="form-control" name="invoicePeriod" required="">
                                        @for (var i = 1; i <= 12; i++)
                                        {
                                            <option @(obj.InvoicePeriod==i?"selected":"") value="@i">@i</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Email Address</label>
                                    <input class="form-control" type="email" name="emailAddress" value="@obj.EmailAddress"
                                           placeholder="Email Address" required=""/>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Mobile Number</label>
                                    <input class="form-control" type="number" name="mobileNumber" value="@obj.MobileNumber"
                                           placeholder="Mobile Number" required=""/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Payment Description</label>
                                    <input class="form-control" name="paymentDescription"
                                           placeholder="Payment Description" value="DSTV Payment" required=""/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Payment Mode</label>
                                    <select name="paymentMode" class="form-control">
                                        <option value="cash" @(obj.PaymentMode == "cash" ? "selected" : "")>Cash</option>
                                        <option value="pos" @(obj.PaymentMode == "pos" ? "selected" : "")>POS</option>
                                    </select>
                                </div>
                            </section>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Preview</button>
                        </div>
                    </div>
                </form>

            </section>
               

        </div>
    </article>

</section>
