﻿@model MultichoiceCollection.Presentation.Models.PreviewMakePaymentSmartCardNumberModel
@{
    ViewBag.Title = "MAKE PAYMENT";
}

<section class="container-fluid">
    <article class="row small-spacing">
        <div class="box-content">
            <h4 class="box-title">MAKE PAYMENT</h4>
            <section>
                <form action="@Url.Action("MakePaymentSmartCardNumber", "Payment")" method="POST">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">MAKE PAYMENT WITH SMART CARD | @Model.Type</h4>
                        </div>
                        <div class="modal-body">
                            <section class="row">
                                <input type="hidden" name="type" value="@Model.Type" />
                                <div class="form-group col-md-6">
                                    <label class="control-label">Bouquet</label>
                                    <input class="form-control" name="productKey" placeholder="Smart Card Number" readonly="readonly" required="" value="@Model.ProductKey" />
                                  
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Smart Card Number</label>
                                    <input class="form-control" name="smartcardnumber" placeholder="Smart Card Number"
                                           readonly="readonly" required="" value="@Model.Smartcardnumber" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Amount</label>
                                    <input class="form-control" name="amount" placeholder="Amount" 
                                           readonly="readonly" required="" value="@($"{Model.Amount}")" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Invoice Period</label>
                                    <input class="form-control" name="invoicePeriod" placeholder="Invoice Period" value="@Model.InvoicePeriod"  readonly="readonly" required="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Email Address</label>
                                    <input class="form-control" name="emailAddress" placeholder="Email Address"  readonly="readonly" required="" value="@Model.EmailAddress" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Mobile Number</label>
                                    <input class="form-control" name="mobileNumber" placeholder="Mobile Number"  readonly="readonly" required="" value="@Model.MobileNumber" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Payment Description</label>
                                    <input class="form-control" name="paymentDescription" placeholder="Payment Description" value="@Model.PaymentDescription"  readonly="readonly" required=""  />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Payment Mode</label>
                                    <input class="form-control" name="paymentMode" placeholder="Payment Mode" value="@Model.PaymentMode"  readonly="readonly" required="" />
                                </div>
                            </section>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>

                            <button type="button" class="btn btn-danger" onclick="history.back();">Back</button>
                        </div>
                    </div>
                </form>
            </section>

        </div>
    </article>
</section>
