﻿@model MultichoiceCollection.Presentation.Models.MakePaymentCustomerNumberModel
@{
    ViewBag.Title = "MAKE PAYMENT";
}

<section class="container-fluid">
    <article class="row small-spacing">
        <div class="box-content">
            <h4 class="box-title">MAKE PAYMENT</h4>
            <section>

                <form action="@Url.Action("MakePaymentCustomerNumber", "Payment")" method="POST">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">MAKE PAYMENT WITH CUSTOMER NUMBER | <span class="bouquet-type">@Model.Type</span></h4>
                        </div>
                        <div class="modal-body">
                            <section class="row">
                                <input type="hidden" name="type" value="@Model.Type" />
                               
                                <div class="form-group col-md-6">
                                    <label class="control-label">Bouquet</label>
                                    <input class="form-control" name="productKey" placeholder="Product Key" required="" readonly="" value="@Model.ProductKey" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Customer Number</label>
                                    <input class="form-control" name="customernumber" placeholder="Customer Number" required="" readonly="" value="@Model.Customernumber" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Amount</label>
                                    <input class="form-control" name="amount" placeholder="Amount"
                                           readonly=""  value="@($"{Model.Amount:n}")" required="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Invoice Period</label>
                                    <input class="form-control" name="invoicePeriod" readonly="" value="@Model.InvoicePeriod" required="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Email Address</label>
                                    <input class="form-control" name="emailAddress" type="email" placeholder="Email Address" readonly="" value="@Model.EmailAddress" required="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Mobile Number</label>
                                    <input class="form-control" name="mobileNumber" type="number" placeholder="Mobile Number" readonly="" value="@Model.MobileNumber" required="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Payment Mode</label>
                                    <input class="form-control" name="paymentMode" placeholder="Payment Mode" readonly="" value="@Model.PaymentMode" required="" />
                                </div>
                            </section>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                            
                            <button type="button" class="btn btn-danger" onclick="history.back();">Back</button>
                        </div>
                    </div>
                </form>

            </section>


        </div>
    </article>

</section>

