﻿@model MultichoiceCollection.Presentation.Models.RepeiptViewModel
@{
    ViewBag.Title = "PAYMENT RECEIPT";
    Layout = null;
}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<style>

    .text-danger strong {
        color: #5cc243;
    }

    .receipt-main {
        background: #ffffff none repeat scroll 0 0;
        border-bottom: 12px solid #5cc243;
        border-top: 12px solid #5cc243;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 40px 30px !important;
        position: relative;
        box-shadow: 0 1px 21px #acacac;
        color: #333333;
        font-family: open sans;
    }

        .receipt-main p {
            color: #333333;
            font-family: open sans;
            line-height: 1.42857;
        }

    .receipt-footer h1 {
        font-size: 15px;
        font-weight: 400 !important;
        margin: 0 !important;
    }

    .receipt-main::after {
        background: #414143 none repeat scroll 0 0;
        content: "";
        height: 5px;
        left: 0;
        position: absolute;
        right: 0;
        top: -13px;
    }

    .receipt-main thead {
        background: #414143 none repeat scroll 0 0;
    }

        .receipt-main thead th {
            color: #fff;
        }

    .receipt-right h5 {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 7px 0;
    }

    .receipt-right p {
        font-size: 12px;
        margin: 0px;
    }

        .receipt-right p i {
            text-align: center;
            width: 18px;
        }

    .receipt-main td {
        padding: 9px 20px !important;
    }

    .receipt-main th {
        padding: 13px 20px !important;
    }

    .receipt-main td {
        font-size: 13px;
        font-weight: initial !important;
    }

        .receipt-main td p:last-child {
            margin: 0;
            padding: 0;
        }

        .receipt-main td h2 {
            font-size: 20px;
            font-weight: 900;
            margin: 0;
            text-transform: uppercase;
        }

    .receipt-header-mid .receipt-left h1 {
        font-weight: 100;
        margin: 34px 0 0;
        text-align: right;
        text-transform: uppercase;
    }

    .receipt-header-mid {
        margin: 24px 0;
        overflow: hidden;
    }

    #container {
        background-color: #dcdcdc;
    }
</style>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="receipt-header">
                    
                    <div class="center col-xs-12 col-sm-12 col-md-12 text-center">
                        <div class="receipt-right">
                            <h5>@Model.User.AgentName</h5>
                            <p>@Model.User.PhoneNumber <i class="fa fa-phone"></i></p>
                            <p>@Model.User.Email <i class="fa fa-envelope-o"></i></p>
                            <p>Nigeria <i class="fa fa-location-arrow"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="receipt-header receipt-header-mid">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right">
                            @*<h5>@Model.Transaction.apiClientId <small>  |   Customer Number : @Model.Transaction.customerNumber</small></h5>*@
                            <p><b>Mobile :</b> @Model.Transaction.mobileNumber</p>
                            <p><b>Email :</b> @Model.Transaction.emailAddress</p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">
                            <h1>Receipt</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-md-9">Transaction ID</td>
                        <td class="col-md-3"> @Model.Transaction.id</td>
                    </tr>
                    <tr>
                        <td class="col-md-9">Invoice Period</td>
                        <td class="col-md-3"> @Model.Transaction.InvoicePeriod</td>
                    </tr>
                        <tr>
                            <td class="col-md-9">Device Number</td>
                            <td class="col-md-3"> @Model.Transaction.deviceNumber</td>
                        </tr>
                        <tr>
                            <td class="col-md-9">Package Code</td>
                            <td class="col-md-3"> @Model.Transaction.packageCode</td>
                        </tr>
                        <tr>
                            <td class="col-md-9">Business Type</td>
                            <td class="col-md-3"> @Model.Transaction.businessType</td>
                        </tr>
                        <tr>
                            <td class="col-md-9">Amount</td>
                            <td class="col-md-3"> @Model.Transaction.amount</td>
                        </tr>
                        <tr>
                            <td class="col-md-9">Transaction Fees</td>
                            <td class="col-md-3"> @Model.Transaction.transFees</td>
                        </tr>
                        <tr>
                            <td class="col-md-9">Transaction Date</td>
                            <td class="col-md-3"> @Model.Transaction.transactionDate</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <p>
                                    <strong>Sub Total: </strong>
                                </p>
                                <p>
                                    <strong>Fees: </strong>
                                </p>

                            </td>
                            <td>
                                <p>
                                    <strong> @Model.Transaction.amount</strong>
                                </p>
                                <p>
                                    <strong> @Model.Transaction.transFees</strong>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td class="text-right"><h2><strong>Total: </strong></h2></td>
                            <td class="text-left text-danger"><h2><strong> @(((double)Model.Transaction.amount + (double)Model.Transaction.transFees).ToString("N") )</strong></h2></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="receipt-header receipt-header-mid receipt-footer">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right">
                            <p><b>Date :</b>@DateTime.Now.ToLocalTime()</p>
                            <h5 style="color: rgb(140, 140, 140);">Thank you for your patronage!</h5>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.print();
</script>
