﻿@using MultichoiceCollection.Presentation.Models
@model MultichoiceCollection.Presentation.Models.SelectBouquetViewModel
@{
     ViewBag.Title = "SELECT BOUQUET FOR RENEWAL";
}

<section class="container-fluid">
     <article class="row small-spacing">
          <div class="box-content">
               <h4 class="box-title text-center">SELECT BOUQUET FOR RENEWAL</h4>
               <section>
                    <form action="@Url.Action("SelectBouquetRenewal", "Payment")" method="POST">
                         <!-- Modal content-->
                         <div class="modal-content">
                              <div class="modal-header">
                                   <h4 class="modal-title">MAKE PAYMENT WITH SMART CARD | @Model.Type</h4>
                              </div>
                              <div class="modal-body">
                                   <section class="row">
                                        <div class="form-group col-md-12 col-lg-12">
                                             <label class="control-label">Bouquet</label>
                                             <select class="form-control" name="SelectedBouquetCode" required="">
                                                  <option></option>
                                                  @foreach (var b in Model.Bouquets)
                                                  {
                                                       <option value="@b.code">@b.name || @b.nameAndPrice</option>
                                                  }
                                                  <option value="GSYT7373">GoTv Elit Sample</option>
                                                  <option value="FSM37373">GoTv Elit Sample</option>
                                             </select>
                                        </div>

                                        <div class="form-group col-md-12 col-lg-12">
                                             <label class="control-label">Invoice Period</label>
                                             <select class="form-control" name="Period" required="">
                                                  @for (var i = 1; i <= 12; i++)
                                                  {
                                                       <option value="@i">@i</option>
                                                  }
                                             </select>
                                        </div>

                                        <div class="form-group col-md-12 col-lg-12">
                                             <label class="control-label">Do you have additional bouquet?</label>
                                             <select class="form-control" name="" required="" onchange="GetAdditionalBouquet()" id="optionSelect">
                                                  <option value="No">No</option>
                                                  <option value="Yes">Yes</option>
                                             </select>
                                        </div>

                                        <div class="form-group col-md-12 col-lg-12">
                                             <label class="control-label">Add-On Bouquet</label>
                                             <select class="form-control" name="AddOnBouquetCode" required="" id="addOnSelect" disabled>
                                                  <option></option>
                                                  @foreach (var b in Model.Bouquets)
                                                  {
                                                       <option value="@b.code">@b.name || @b.nameAndPrice</option>
                                                  }
                                                  <option value="ADOT1320">Add-On GoTv Elit Sample</option>
                                                  <option value="AD567373">Add-On GoTv Elit Sample</option>
                                             </select>
                                        </div>

                                        <input type="hidden" name="CardNumber" value="@Model.CardNumber" />
                                        <input type="hidden" name="type" value="@Model.Type" />
                                        <input type="hidden" name="payel" value="@Model.PayEl" />
                                   </section>
                              </div>
                              <div class="modal-footer">
                                   <button type="submit" class="btn btn-primary">Continue</button>
                              </div>
                         </div>
                    </form>

               </section>


          </div>
     </article>

</section>


<script type="text/javascript">
     function GetAdditionalBouquet() {
          var optionSelect = $('#optionSelect option:selected').html();

          switch (optionSelect) {

               case "Yes":
                    $('#addOnSelect').prop('disabled', false);
                    break;
               default:
                    $('#addOnSelect').prop('disabled', true);
                    break;
          }
     };
</script>