﻿@model MultichoiceCollection.Presentation.Models.MakePaymentSmartCardNumberResponseModel

@{
     ViewBag.Title = "MAKE PAYMENT";
}
@if (Model != null)
{
     <section class="container-fluid">
          <article class="row small-spacing">
               <div class="box-content">
                    <h4 class="box-title text-center">MAKE PAYMENT FOR UPGRADE</h4>
                    <section>
                         <article class="col-md-6">
                              <div class="col-md-3">Audit Reference No:</div>
                              <div class="col-md-9">@Model.auditReferenceNo</div>
                         </article>
                         <article class="col-md-6">
                              <div class="col-md-3">Transaction Number:</div>
                              <div class="col-md-9">@Model.transactionNumber</div>
                         </article>
                         <article class="col-md-6">
                              <div class="col-md-3">Receipt Number:</div>
                              <div class="col-md-9">@Model.receiptNumber</div>
                         </article>
                         <article class="col-md-6">
                              <div class="col-md-3">Message:</div>
                              <div class="col-md-9">@Model.message</div>
                         </article>
                         <article class="col-md-6">
                              <div class="col-md-3">
                                   Success
                                   :
                              </div>
                              <div class="col-md-9">@Model.success</div>
                         </article>
                         <article class="col-md-6">
                              <div class="col-md-3">Date:</div>
                              <div class="col-md-9">@Model.date</div>
                         </article>


                    </section>


               </div>
          </article>
          <section>
               @{
                    if (ViewBag.PaymentSucceded)
                    {
                         <p>
                              <a class="btn btn-success btn-lg" target="_blank" href="@Url.Action("Receipt", new {id = ViewBag.Id})">Print Receipt</a>
                         </p>
                    }}
          </section>
     </section>
}
else
{
     <div class="alert alert-info">
          <p>Payment details not found.</p>
     </div>
}