﻿@model MultichoiceCollection.Presentation.Models.CustomerAccountModel


@{
    ViewBag.Title = "ACCOUNTS";
}
@if (Model != null)
{
    <section class="container-fluid">
        
       
        <article class="row small-spacing">
            <div class="box-content">
                <h4 class="box-title">Customer</h4>
                @if (Model.customer != null)
                {

                    <section>
                        <table class="table table-striped margin-bottom-10">
                            <tr>
                                <td style="width: 50%">Last Name: @Model.customer.lastName</td>
                                <td>First Name: @Model.customer.firstName</td>
                            </tr>
                            <tr>
                                <td  style="width: 50%">Customer Number: @Model.customer.customerNumber</td>
                                <td>Account No: @Model.customer.accountNo</td>
                            </tr>
                            <tr>
                                <td  style="width: 50%">Mobile No: @Model.customer.mobileNo</td>
                                <td>Email Address: @Model.customer.emailAddress</td>
                            </tr>
                            <tr>
                                <td  style="width: 50%">Has Box Office: @Model.customer.hasBoxOffice</td>
                                <td>Invoice Period: @Model.customer.invoicePeriod</td>
                            </tr>
                            <tr>
                                <td>Total Balance: @Model.customer.totalBalance</td>
                            </tr>
                        </table>
                        

                        @*
                        <article class="col-md-6">
                            <div class="col-md-3">Last Name:</div>
                            <div class="col-md-9">@Model.customer.lastName</div>
                        </article>

                        <article class="col-md-6">
                            <div class="col-md-3">First Name:</div>
                            <div class="col-md-9">@Model.customer.firstName</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Initial:</div>
                            <div class="col-md-9">@Model.customer.initial</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Customer Number:</div>
                            <div class="col-md-9">@Model.customer.customerNumber</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Account No:</div>
                            <div class="col-md-9">@Model.customer.accountNo</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Title:</div>
                            <div class="col-md-9">@Model.customer.title</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Mobile No:</div>
                            <div class="col-md-9">@Model.customer.mobileNo</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Email Address:</div>
                            <div class="col-md-9">@Model.customer.emailAddress</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Has Box Office:</div>
                            <div class="col-md-9">@Model.customer.hasBoxOffice</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Invoice Period:</div>
                            <div class="col-md-9">@Model.customer.invoicePeriod</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Total Balance:</div>
                            <div class="col-md-9">@Model.customer.totalBalance</div>
                        </article>*@
                    </section>
                }
                else
                {
                    <div class="alert alert-info">
                        <p>Customer details not found.</p>
                    </div>
                }

            </div>
        </article>
        <section class="row small-spacing">
            <div class="box-content">
                <h4 class="box-title">Accounts</h4>

                <!-- /.dropdown js__dropdown -->
                <section class="table-responsive">
                    <table class="table table-striped margin-bottom-10">
                        <thead>
                            <tr>
                                <th>Is Primary</th>
                                <th>Account Type</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>Method Of Payment</th>
                                <th>Customer Number</th>
                                <th>Status</th>
                                <th>Payment Due Date</th>
                                <th>Last Invoice Date</th>
                                <th>Invoice Period</th>
                                <th>Has Box Office</th>
                                <th>Is Commercial</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if (Model.accounts != null && Model.accounts.Count > 0)
                        {
                            foreach (var item in Model.accounts)
                             {
                                 <tr>
                                     <td>@item.isPrimary</td>
                                     <td>@item.accountType</td>
                                     <td>@item.currency</td>
                                     <td>@item.amount</td>
                                     <td>@item.methodOfPayment</td>
                                     <td>@item.customerNumber</td>
                                     <td>@item.status</td>
                                     <td>@item.paymentDueDate</td>
                                     <td>@item.lastInvoiceDate</td>
                                     <td>@item.invoicePeriod</td>
                                     <td>@item.hasBoxOffice</td>
                                     <td>@item.isCommercial</td>
                                 </tr>
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="12">
                                    <div class="alert alert-info">
                                        <p>Customer accounts not found.</p>
                                    </div>
                                </td>
                            </tr>
                            
                        }
                        </tbody>
                    </table>
                </section>
                <!-- /.table -->
            </div>
        </section>
    </section>
}