﻿@using MultichoiceCollection.Common.Entities
@{
    ViewBag.Title = "DASHBOARD";
}
@*<section class="row small-spacing">
    <div class="col-md-6 col-xs-12">
        <div class="box-content">
            <div class="statistics-box with-icon">
                <a href="#">
                    <i class="ico ti-credit-card text-inverse"></i>
                    <h2 class="counter text-inverse">₦@ViewBag.TotalSales</h2>
                    <p class="text">Total Sales from Inception</p>
                </a>
            </div>
            <!-- .statistics-box .with-icon -->
        </div>

    </div>
    <div class="col-md-6 col-xs-12">
        <div class="box-content">
            <div class="statistics-box with-icon">
                <a href="#">
                    <i class="ico ti-credit-card text-success"></i>
                    <h2 class="counter text-inverse">₦@ViewBag.TodaySales</h2>
                    <p class="text">Today's Total Sales</p>
                </a>
            </div>
            <!-- .statistics-box .with-icon -->
        </div>
    </div>
</section>
*@
@*<section class="row small-spacing">
         <div class="col-md-12 col-xs-12">
              <div class="box-content">
                   <h4 class="box-title">Activities</h4>
                   <!-- /.box-title -->
                   <div class="dropdown js__drop_down">
                        <a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
                        <ul class="sub-menu">
                             <li><a href="#">Action</a></li>
                             <li><a href="#">Another action</a></li>
                             <li><a href="#">Something else there</a></li>
                             <li class="split"></li>
                             <li><a href="#">Separated link</a></li>
                        </ul>
                        <!-- /.sub-menu -->
                   </div>
                   <!-- /.dropdown js__dropdown -->
                   <div class="activity-list">
                        @{
                             var latestTrans = ViewBag.LatestTransactions as List<Transaction>;
                             var dotColours = new[]
                             {
                                      "bg-primary","bg-danger","bg-success","bg-violet","bg-warning","bg-orange",
                                  };
                        }
                        @if (latestTrans != null)
                        {
                             var rnd = new Random();
                             foreach (var transaction in latestTrans)
                             {
                                  var index = rnd.Next(0, dotColours.Count());
                                  <div class="activity-item">
                                       <div class="bar @dotColours[index]">
                                            <div class="dot @dotColours[index]"></div>
                                            <!-- /.dot -->
                                       </div>
                                       <!-- /.bar -->
                                       <div class="content">
                                            <div class="date">@transaction.CreatedDate.ToLocalTime()</div>
                                            <!-- /.date -->
                                            <div class="text">
                                                 Transaction of @transaction.amount carried out<b />
                                                 Transaction ID: @transaction.id
                                            </div>
                                            <!-- /.text -->
                                       </div>
                                       <!-- /.content -->
                                  </div>
                             }

                        }
                        else
                        {
                             <div class="activity-item">
                                  <h2>No transactions recorded</h2>
                             </div>
                        }

                   </div>
                   <!-- /.activity-list -->
                   <a href="#" class="activity-link">View all activity <i class="fa fa-angle-down"></i></a>
              </div>
              <!-- /.box-content -->
         </div>
    </section>*@

@{ Html.RenderAction("Transactions"); }
