﻿@model MultichoiceCollection.Presentation.Areas.Admin.Models.TransactionViewModel


<section class="row small-spacing">
    <div class="box-content">
        <h3 class="box-title">Transaction History</h3>
        <br>
        <div class="row">
            <form method="get">
                <div class="col-md-3">
                    <input class="form-control" id="fromTb" name="startDate" type="date" placeholder="Start Date" value="@Model.StartDate.Date" />
                    <label>From Date: <span id="fromLabel">@Model.StartDate.Date</span></label>
                </div>
                <div class="col-md-3">
                    <input class="form-control" id="toTb" name="endDate" type="date" placeholder="End Date" value="@Model.EndDate.Date" />
                    <label>To Date: <span id="toLabel">@Model.EndDate.Date</span></label>
                </div>
                <div class="col-md-3">
                    <input class="form-control" id="cardTb" name="smartCardNumber" type="text" placeholder="Smart Card Number" value="@Model.SmartCardNumber" />
                     <label>SmartCard No: <span id="cardLabel"></span></label>
                </div>                <div class="col-md-3">
                    <input type="submit" value="GO" class="btn btn-primary" onclick="getSelectedDate()" />
                    <!-- <a href="Download?startDate=@Model.StartDate&endDate=@Model.EndDate&smartCardNumber=@ViewBag.SmartCardNumber" class="btn btn-primary" onclick="getSelectedDate()"><i class="ico ti-download"></i> Export CSV</a> -->
                </div>
            </form>
        </div>
        <section class="table-responsive">
            @if (Model.Transactions.Count != 0)
            {
                <table class="table table-striped margin-bottom-10">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Acc No</th>
                            <th>Trans ID</th>
                            <th>Smartcard Number</th>
                            <th>Bouquet Type</th>
                            <th>Amount Paid</th>
                            <th>Trans Date</th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var sn = 1;}
                        @foreach (var item in Model.Transactions)
                        {
                            <tr>
                                <td>@(sn++)</td>
                                <td>@item.accountNumber</td>
                                <td>@item.id.ToString("")</td>
                                <td>@item.customerNumber</td>
                                <td>@item.packageCode</td>
                                <td>@item.amount</td>
                                <td>@item.CreatedDate.ToShortDateString()</td>
                                <th>
                                    <a class="btn btn-primary btn-sm" href="@Url.Action("Receipt", "Payment", new {id = item.id})"
                                       target="_blank">Print Receipt</a>
                                </th>
                            </tr>
                        }

                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        @if (Model.Page > 1)
                        {
                            <a href="?startDate=@Model.StartDate&endDate=@Model.EndDate&page=@(Model.Page - 1)" class="btn btn-primary btn-sm">PREVIOUS</a>
                        }
                        @if (Model.Page < Model.PageCount)
                        {
                            <a href="?startDate=@Model.StartDate&endDate=@Model.EndDate&page=@(Model.Page + 1)" class="btn btn-primary btn-sm">NEXT</a>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12 text-center text-danger">
                        <h4>No Records Found </h4>
                    </div>
                </div>
            }
        </section>
        <!-- /.table -->
    </div>
</section>

<script type="text/javascript">
     function getSelectedDate()
     {
          var fromDate = document.getElementById('fromTb').value;
          var toDate = document.getElementById('toTb').value;
          var fromLabel = document.getElementById('fromLabel');
          var toLabel = document.getElementById('toLabel');

          var cardLabel = document.getElementById('cardLabel');
          var cardTb = document.getElementById('cardTb').value;

          fromLabel.textContent = fromDate;
          toLabel.textContent = toDate;
          cardLabel.textContent = cardTb;

     }
</script>