﻿@model MultichoiceCollection.Presentation.Models.AdminRegisterViewModel
@{
    ViewBag.Title = "Manage Account";

}
@section styles{
    <style>
        .frm-single {
            width: 100%;
            max-width: 700px; 
        }
    </style>
}

*@using (Html.BeginForm("Update", "AdminAccount", FormMethod.Post, new { @class = "frm-single" , enctype = "multipart/form-data" }))
 {
     <section class="inside">
         <div class="title">
             <strong>Admin</strong> Area
         </div>
         <!-- /.title -->
         <div class="frm-title">Manage account</div>
         @Html.AntiForgeryToken()
         @Html.ValidationSummary("", new { @class = "text-danger" })
         @Html.HiddenFor(m=>m.Id)
         <div class="frm-input">
             @Html.TextBoxFor(m => m.AgentName, new { @class = "frm-inp", placeholder = "Agent Name" })
             <i class="fa fa-user frm-ico"></i>
         </div>

         <div class="frm-input">
             @Html.TextBoxFor(m => m.AccountNumber, new { @class = "frm-inp", placeholder = "Account Number" })
             <i class="fa fa-user frm-ico"></i>
         </div>
         <div class="frm-input">
             @Html.TextBoxFor(m => m.Email, new { @class = "frm-inp", placeholder = "Email" })
             <i class="fa fa-envelope-o frm-ico"></i>
         </div>
         <div class="frm-input">
             @Html.TextBoxFor(m => m.PhoneNumber, new {@class = "frm-inp", placeholder = "Phone Number"})
             <i class="fa fa-phone frm-ico"></i>
         </div>
        

         <div class="clearfix margin-bottom-20"></div>
         <!-- /.clearfix -->
         <button type="submit" class="frm-submit">Register<i class="fa fa-upload"></i></button>

         <!-- /.footer -->
     </section>
 }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
